<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balance Graph</title>
    <!-- Chart.js -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

    {% include 'navigation.html' %}

        <div class="nav nav-pills nav-pills-falcon flex-grow-1 mt-2" role="tablist">
            {% for data in datas %}
                <button class="btn btn-sm {% if forloop.first %}active{% endif %}" data-bs-toggle="pill" data-bs-target="#user-{{ data.user.id }}-tab" type="button" role="tab" aria-controls="user-{{ data.user.id }}-tab" aria-selected="true">{{ data.user.username }}</button>
            {% endfor %}
        </div>

        <div id="user-tabs" class="tab-content">
            {% for data in datas %}
                <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="user-{{ data.user.id }}-tab" role="tabpanel" aria-labelledby="tab-user-{{ data.user.id }}">
                    <!-- ユーザの内容をここに表示 -->
                    <div class="container mt-4">
                    <h1>{{ data.user.username }}'s report</h1>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col" style="text-align: right;">Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for daily in data.daily_profit %}
                                <tr>
                                    <td style="text-align:">{{ daily.date }}</td>
                                    <td style="text-align: right;">{{ daily.profit }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Game</th>
                                    <th scope="col" style="text-align: right;">Count</th>
                                    <th scope="col" style="text-align: right;">Profit/Yield</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for count_data in data.game_count %}
                                    <tr>
                                        <td>{{ count_data.game }}</td>
                                        <td style="text-align: right;">{{ count_data.count }} times</td>
                                        <td style="text-align: right;">{{ count_data.profit }}/({{ count_data.yield}}%)</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Location</th>
                                    <th scope="col" style="text-align: right;">Count</th>
                                    <th scope="col" style="text-align: right;">Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for count_data in data.location_count %}
                                    <tr>
                                        <td>{{ count_data.location }}</td>
                                        <td style="text-align: right;">{{ count_data.count }} days</td>
                                        <td style="text-align: right;">{{ count_data.profit }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Profit (Count)</th>
                                    {% for profit_data in data.game_count %}
                                    <th style="text-align: right;">{{ profit_data.game }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                    {% for hotel_data in data.hotel_game_profit %}
                                    <tr>
                                        <td>{{ hotel_data.hotel }}</td>
                                        {% for game in hotel_data.games %}
                                        <td style="text-align: right;">{{ game.profit }} ({{game.count}})</td>
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
        </div>


    {% block scripts %}
    <script>
        // テンプレートからPythonの変数を取得
        var user_data = {{ user_data|safe }};

        var datasets = [];

        // ユーザーデータを反復処理
        user_data.forEach(function(userData) {
            // 日次利益データセットを作成
            var dailyDataset = {
                label: userData.user.username,
                data: userData.daily_profits,
                // その他の線の設定
            };

            // データセットをdatasetsに追加
            datasets.push(dailyDataset);
        });

        // Chart.jsのデータオブジェクトにdatasetsを追加
        var data = {
            labels: user_data[0].dates, // 最初のユーザーの日付を使用
            datasets: datasets
        };

        // Chart.jsでグラフを描画
        var ctx = document.getElementById('DailyChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: options
        });
    </script>
    {% endblock %}
</body>
</html>
