<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GE</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .modal-backdrop {
            display: none;
        }
    </style>
</head>
<body>

{% include 'navigation.html' %}

<div class="container mt-4">
    {% if url == 'my' %}
        <a href="{% url 'create_entry' %}" class="btn btn-primary mb-4">Add New Entry</a>
    {% endif %}


    <div class="container">
        <h1 class="mb-4">{% if url == 'my' %}My{%else%}All{%endif%} List</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    {% if url == 'all' %}
                    <th>User</th>
                    {% endif %}
                    <th>Hotel</th>
                    <th>Game</th>
                    <th>P/L</th>
                    <th>Date</th>
                    <th>Actions</th>

                </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                <tr>
                    {% if url == 'all' %}
                    <td>{{ entry.user }}</td>
                    {% endif %}
                    <td>{{ entry.hotel.name|slice:":6" }}</td>
                    <td>{{ entry.game.name|slice:":6" }}</td>
                    <td class="text-end">{{ entry.profit|floatformat }}</td>
                    <td>{{ entry.date|date:'m/d/y' }}</td>
                        <td>
                            <a href="{% url 'entry_detail' entry.pk %}" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#entryDetailModal{{ entry.id }}">Details</a>
                        </td>
                        <div class="modal fade" id="entryDetailModal{{ entry.id }}" tabindex="-1" aria-labelledby="entryDetailModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="entryDetailModalLabel">Entry Detail</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p><strong>User:</strong> {{ entry.user }}</p>
                                        <p><strong>Location:</strong> {{ entry.location }}</p>
                                        <p><strong>Hotel:</strong> {{ entry.hotel }}</p>
                                        <p><strong>Game:</strong> {{ entry.game }}</p>
                                        <p><strong>Investment:</strong> {{ entry.investment }}</p>
                                        <p><strong>Payout:</strong> {{ entry.payout }}</p>
                                        <p><strong>Profit:</strong> {{ entry.profit }}</p>
                                        <p><strong>Date:</strong> {{ entry.date }}</p>
                                        <p><strong>Comment:</strong> {{ entry.comment }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        {% if url == 'my' %}
                                        <a href="{% url 'update_entry' entry.pk %}" class="btn btn-primary">Edit</a>
                                        <a href="{% url 'delete_entry' entry.pk %}" class="btn btn-danger"
                                           onclick="return confirm('Are you sure you want to delete this entry?')">Delete</a>
                                        {% endif %}
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="8">No entries yet.</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if entries.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ entries.previous_page_number }}" aria-label="Previous">&laquo; 前へ</a>
                        </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <span class="page-link">{{ entries.number }} / {{ entries.paginator.num_pages }}</span>
                    </li>

                    {% if entries.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ entries.next_page_number }}" aria-label="Next">次へ &raquo;</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>